/* 

    
    light grey: #ccc;

*/



/* 
    ///////////////////////
    /// ALL PAGES
    ///////////////////////
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: "Lato", sans-serif;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    width: 57%;
    display: block;

}


/* Add a media query for smaller screen sizes */
@media screen and (max-width: 1200px) {
    body {
        width: 75%; /* Reduce padding for smaller screens */
        padding: 10px;
    }
    .weaver-explanation{
        width: 100%;
    }

}

/* Add a media query for smaller screen sizes */
@media screen and (max-width: 800px) {
    body {
        width: 90%; /* Reduce padding for smaller screens */
        padding: 10px;
    }
    .weaver-explanation{
        width: 100%;
    }
}


h2{
    font-size: 35px;
}

p{
    font-size: 20px;
}

header{
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
    color: black;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

footer a, footer p {
    color: black;
    font-size: 20px;
    text-decoration: none;
}


.gh-img {
    height: 25px;
    width: auto;
}

.header-title {
    text-decoration: none;
    color: black;

}


.btn{
    padding: 10px;
    margin: 3px;
    border-radius: 40px;
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    
}


/* 
    ///////////////////////
    /// index.html
    ///////////////////////
*/

.welcome{
    padding: 10px;
    margin-bottom: 10px;
}

.button-box{
    text-align: center;
    display: block;

}

.btn-accept{
    background-color: #3d8804;
    color: #fff;

}
.btn-decline{

    background-color: red;
    color: #fff;

}

.weaver-explanation{
    margin-top: 3px;
    padding: 10px;
}

.weaver-explanation p {
    margin: 10px 0px;
}

.weaver-rules{
    display: block;
    margin: 5px auto;
    border: solid 2px black;
    width: 400px;
    max-width: 98%;
    height: auto;
    
}

/* 
    ///////////////////////
    /// solve.html
    ///////////////////////
*/

.form-box-container{
    display: block;
    width: 100%;
}

.form-box, .form-errors{
    width: 300px;
}

.form-box {
    display: block;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border: solid #ccc 3px;
    border-radius: 5px;
}


.form-box label, .form-box input{
    font-size: 25px;
    margin: 3px 5px;
}

.form-box label{
    font-weight: bold;
}

.form-box input, .form-box input:focus:active{
    outline: transparent; /* Remove the default focus outline when selected */
    width: 75px;
    padding: 5px 3px;
    border: solid #ccc;
    border-width: 0 0 2px 0;
    text-align: center;
}

.form-box .btn {
    width: 100px;
}

.form-errors {
    background-color: #fd9b9bff;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    color: #990e0e;
    font-size: 16px;
    text-align: left;
    margin: 0 auto 10px;
}

.form-errors p {
    font-weight: bold;
    font-size: 16px;
}

.option-display{
    display: inline-block;
    width: 100%;
    margin: 10px auto;
}

.selector{
    display: block;
    width: 100%;
    margin: 3px;
}

.selector select, .selector select:active:focus {

    display: block;
    margin: auto auto 8px;
    font-size: 20px;
    text-align: center;

    border: none;
    border-radius: 10px;
    padding: 3px;

    outline: transparent;
}

.path-label {
    display: block;
    text-align: center;
}

.path-box {
    text-align: center;
}

.path-option {
    display: block1;
    width: fit-content;
    border: 2px solid #ccc;
    padding: 5px;
    margin: 3px auto;
    text-align: center;
}

.wordle-grid {
    display: grid;
    /* Adjust the number of columns and width as needed */
    grid-template-columns: repeat(4, 50px); 
    /* Adjust the gap between boxes as needed */
    gap: 0px; 
    background-color: #fff;

    margin: auto;
  }
  
  .box {
    /* Adjust the width and height of boxes as needed */
    width: 50px; 
    height: 50px;
    background-color: #f0f0f0; /* Adjust the background color of boxes as needed */
    border: 5px solid #fff; /* Add border for boxes */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Adjust the font size of letters as needed */
    text-transform: uppercase;
  }
  
  .normal-box {
      background-color: #f0f0f0;
  }
  
  .correct-box {
      background-color: rgb(44, 227, 44);
  }