

<body>

<h1> Welcome ... </h1>

<p> to my weaver game solver. <p>

<p> Now you may well be wondering why this site looks so displeasing, perhaps even not trustworhy. That's because I haven't gotten to making it pretty yet, but if I gave you the link it should be safe..... prolly </p>

<p> To enter, you must swear upon your soul not to use this weaver solver to cheat on your Weavers... <p>

<form action="{{ url_for('solve4') }}">
    <button type="submit">Yes, I agree</button>
</form>
<form action="{{ url_for('jail') }}">
    <button type="submit">No, I'm a cheater</button>
</form>


<body>
