<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        
        <title>Weaver Solver</title>
    </head>

    <header>
        <h1> <a href="{{ url_for('index') }}" class="header-title">Weaver Solver</a> </h1>
    </header>

    <body>

    <div class="welcome">

    <h2>Welcome</h2>
    
    <p> This site helps you visualize the solutions to the <a href="https://wordwormdormdork.com">Weaver Word Ladder Game</a>. 
        This site can and will provide you with the answers to today's Weaver, so please confirm that you will use the site 
        honestly and not for cheating.
    </p>
    </div>

    <div class="button-box">
        <form action="{{ url_for('solve4') }}">
            <button class="button-custom button-accept" type="submit">Yes, I will use it honestly</button>
        </form>
        <form action="{{ url_for('jail') }}">
            <button class="button-custom button-decline" type="submit">No, I'm a cheater</button>
        </form>
    </div>

    <div class="weaver-explanation">
        <h2>What is Weaver?</h2>

        <p> Weaver is a word ladder game in which you attempt to change one word into another only changing one letter at a time. 
            Below is an explanation from the weaver site.
        </p>

        <img class="weaver-rules" src="{{ url_for('static', filename='images/weaver-rules.jpg') }}" alt="Weaver Rules Explanation">


    </div>


    <body>

</html>