<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        
        <!-- <link rel="stylesheet" href="css/answerpage.css"> -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        
        <title>Weaver Solver</title>
    </head>

    <script>
    function changeOption() {
        // Get the value of the selected option from the dropdown
        var selectedOption = document.getElementById("optionDropdown").value;
        
        if (selectedOption == "all"){
            var elements = document.getElementsByClassName('path-option');
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = "block";
            }
        }
        else{
            var elements = document.getElementsByClassName('path-option');
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = "none";
            }
            
            // Show the content div corresponding to the selected option
            document.getElementById(selectedOption + "Content").style.display = "block";
        }
    }

    </script>

{% include 'header.html' %}


<body>

  <div class="form-box">
    <form method="POST" action="{{ url_for('solve4') }}">
      {{ form.hidden_tag() }}
      {{ form.w1.label }}:  {{ form.w1 }}<br>
      {{ form.w2.label }}:  {{ form.w2 }}<br>
      <button type="submit" class="button-custom">Submit</button>
    </form>
    {% if errors_present %}
    <div class="form-errors">
      {% for error in form.w1.errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% if solution_present %}
  <div class="option-display">
    <div class="path-label">
      <h2 class="path-label-text">Showing Options for "{{ w1 }}" to "{{ w2 }}"</h2>
    </div>

    <div class="selector">
      <select id="optionDropdown" onchange="changeOption()">
        {{ selector|safe  }}
      </select>
    </div>

    <div class="path-box" id="displayContent">
        {{ path_box|safe  }}
    </div>
    
  </div>
  {% endif %}
</body>

{% include 'footer.html' %}

</html>

